<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SearchDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F43A52A41B2F3F6F0070C806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4726F001B2D8D6400283E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4726F191B2D8D6400283E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4726F241B2D8D6400283E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
